@import "colors.scss";

.text {
	color: $defaultText;
}

.background {
	flex: 1;
	align-items: center;
	justify-content: center;
	background-color: $backgroundColor;
}

.flatlistContainer {
	flex: 1;
	padding-top: 40;
	padding-top: 40;
	justify-content: center;
	background-color: $backgroundColor;
}

.flatlistItem {
	flex: 1;
	margin-right: 20;
	margin-left: 20;
	margin-top: 24;
	padding: 30px;
	background-color: rgba($color: #ffffff, $alpha: 0.2);
	border-radius: 25px;
}

.flatListTitle {
	font-size: 24;
	font-weight: 700;
	color: #ffffff;
}

.flatListDescription {
	padding-top: 20;
	font-size: 14;
	color: #ffffff;
}

.doubleRightImage {
	height: 25;
	width: 25;
	justify-content: center;
}

.fullscreen {
	flex: 1;
	color: $defaultText;
	background-color: $backgroundColor;
	font-size: 19;
}

.selectionView {
	flex-direction: row;
	align-items: center;
}

.separatorLine {
	width: 4%;
	align-items: center;
}

.title {
	font-size: 30;
	color: white;
	font-weight: 700;
	text-align: center;
}
.description {
	font-size: 16;
	color: #a3a9b4;
	font-style: italic;
}
.titleSection {
	flex: 3;
	margin-top: 30;
	align-items: center;
	justify-content: center;
}
.image {
	flex: 4;
	justify-content: center;
	align-items: center;
}

.instructions {
	flex: 1;
	font-size: 16;
	font-weight: 500;
	color: #a3a9b4;
	justify-content: flex-end;
}

.cardTitle {
	font-size: 25;
	color: white;
	font-weight: 700;
	text-align: center;
}

.fadedTitle {
	font-size: 22;
	color: #a3a9b4;
	margin-bottom: 1rem;
	font-weight: 500;
}
